node_modules
frontend/node_modules
frontend/dist
frontend/.env
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
frontend/tailwind.config.js
frontend/tailwind.config.d.ts
backend/node_modules
backend/dist
backend/.env
.vercel
frontend/.vercel
backend/.vercel
*.log
